*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    padding: 0px 90px;
    padding-top: 100px;
    gap: 70px;
}

#left{
    height: 100%;
    width: 45%;
    margin-top: 20px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

h1{
    font-size: 90px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: -6px;
}

#bl{
    height: fit-content;
    width: 100%;
    /* background-color: yellow; */
}

#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;

}

#color1{
    height: 15px;
    width: 15px;
    background-color: #333;
    border-radius: 50%;
    margin: 6px;

    
}
#color h5{
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

#color2{
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 50%;
}

#left h2{
    margin-top: 35px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -0.5px;


}

#left p{
    font-style: 20px;
    width: 70%;
    color: #222;
    line-height: 20px;   
}


#right{
    height: 100%;
    width: 33%;
    /* background-color: blue; */
    position: relative;
}

#tr{
    height: 80px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#tr h4{
    font-size: 20px;
    font-weight: 500;
}

#tr h5{
    font-size: 12px;
}

#tr h5 i{
    letter-spacing: -2px;
    color: #333;

}

#right img{
    height: 85%;
    width: 100%;
    object-fit: cover;
}

#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    color: white;
    position: absolute;
    right: -13%;
    top: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle h5{
    font-size: 15px;
    font-weight: 300;
}

#right h2{
    position: absolute;
    bottom: 3%;
    left: -20%;
    /* background-color: red; */
    rotate: -90deg;
    transform-origin: 0 0;
}